In [7]:
for num in range(0,20):
 print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [14]:
for lists in range (10,20):
    print(lists, end =" ")

10 11 12 13 14 15 16 17 18 19

In [17]:
lists = [10,20,14,55,43,87,76]
print (lists)
print("Number of item in the List2: ")
print(len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [25]:
print("Artificial Intelligence")
a = "Artificial Intelligence"
for temp in a:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [43]:
lists= ["-Your Name-,-Your age,-Your profession-"]
for temp in lists:
        print(temp)

-Your Name-,-Your age,-Your profession-

In [44]:
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [47]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [19]:
num =[20,10,16,19,25,1,276,188]
print("(20,10,16,19,25,1,276,188)")
for temp in num:
 if temp % 2 == 1:
    print(temp,"is odd")

(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [21]:
num =[20,10,16,19,25,1,276,188]
print("(20,10,16,19,25,1,276,188)")
for temp in num:
 if temp % 2 == 0:
   print(temp,"is even")

(20,10,16,19,25,1,276,188)
20 is even
10 is even
16 is even
276 is even
188 is even